
@{
    ViewData["Title"] = "SanPhamTheoLoai";
    Layout = "~/Views/Shared/_LayoutCoza.cshtml";
}

@model List<SanPham>
@foreach (var item in Model)
{
	<div class="col-lg-3 col-md-6">
		<div class="single-product">
			<img class="img-fluid" src="@Url.Content("Images/" + item.AnhDaiDien)" alt="">
			<div class="product-details">
				<h6>
					@item.TenSanPham
				</h6>
				<div class="price">
					<h6>@item.DonGiaBanLonNhat</h6>
					<h6 class="l-through">@item.DonGiaBanNhoNhat</h6>
				</div>
				@*<div class="prd-bottom">
			<a href="" class="social-info">
			<span class="ti-bag"></span>
			<p class="hover-text">add to bag</p>
			</a>
			<a href="" class="social-info">
			<span class="lnr lnr-heart"></span>
			<p class="hover-text">Wishlist</p>
			</a>
			<a href="" class="social-info">
			<span class="lnr lnr-sync"></span>
			<p class="hover-text">compare</p>
			</a>
			<a href="" class="social-info">
			<span class="lnr lnr-move"></span>
			<p class="hover-text">view more</p>
			</a>
			</div>*@
			</div>
		</div>
	</div>

}


